body .chart_container {
    background-image: url('//p.yunshuren.com/topic/2022/commercial_vehicle/images/chart_bg.png');
    background-size: contain;
}

body.up .chart_container {
    background-image: url('//p.yunshuren.com/topic/2022/commercial_vehicle/images/chart_bg.png');
    background-size: contain;
}

body.ali .chart_container {
    background-image: url('//papu.yunshuren.com/topic/2022/commercial_vehicle/images/chart_bg.png');
    background-size: contain;
}

.chart_container {
    width: 100%;
    width: 982px;
    height: 428px;
    overflow: hidden;
    margin: 0 auto;
}

@media (max-width: 768px){
    body .chart_container {
        background-image: url('//p.yunshuren.com/topic/2022/commercial_vehicle/images/chart_bg_mob.png');
        background-repeat: no-repeat;
        background-size: 100%;
    }
    body.up .chart_container {
        background-image: url('//p.yunshuren.com/topic/2022/commercial_vehicle/images/chart_bg_mob.png');
        background-repeat: no-repeat;
        background-size: 100%;
    }
    body.ali .chart_container {
        background-image: url('//papu.yunshuren.com/topic/2022/commercial_vehicle/images/chart_bg_mob.png');
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .chart_container {
        width: 6.83rem;
        height: 6.3rem;
    }

}